Trac_tickets/attachments/CFStandardNameRules-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Bob Drach (UNIV OF CA LLNL) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:element name="contact" type="xs:string">
		<xs:annotation>
			<xs:documentation>The person or institution that is responsible for maintaining the table.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="description" type="xs:string">
		<xs:annotation>
			<xs:documentation>A textual description of the variable.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="target" type="xs:string">
		<xs:annotation>
			<xs:documentation>The standard name which the rule applies to</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="rule">
		<xs:annotation>
			<xs:documentation>An rule element has an id the is a valid standard name and contains a rule</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="target"/>
			        <xs:choice>
				  <xs:element ref="requiredCoordinate"/>
				  <xs:element ref="requiredBoundAxis" />
				  <xs:element ref="charOrFlagIn" />
				  <xs:element ref="requiredAxis" />
			        </xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="requiredCoordinate" type="xs:string">
		<xs:annotation>
			<xs:documentation>Indicates a coordinate is required</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requiredBoundAxis" type="st__requiredAxis">
		<xs:annotation>
			<xs:documentation>Indicates that a coordinate or dimension with the specified axis attribute is required, and that that variable should have a bounds attribute</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requiredAxis" type="st__requiredAxis">
		<xs:annotation>
			<xs:documentation>Indicates that a coordinate or dimension with the specified axis attribute is required</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="charOrFlagIn" type="st__inCFList">
		<xs:annotation>
			<xs:documentation>The variable should have character values, or be associated with character values through flag_values and flag_meanings attributes. The character values must be in the CF table indicated by the element contents.</xs:documentation>
		</xs:annotation>
	</xs:element>
        <xs:simpleType name="st__inCFList" final="restriction" >
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CF Standard Region" />
                    <xs:enumeration value="CF Area Type" />
                </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="st__requiredAxis" final="restriction" >
                <xs:restriction base="xs:string">
                    <xs:enumeration value="X" />
                    <xs:enumeration value="Y" />
                    <xs:enumeration value="Z" />
                    <xs:enumeration value="T" />
                </xs:restriction>
        </xs:simpleType>
	<xs:element name="canonical_units" type="xs:string">
		<xs:annotation>
			<xs:documentation>Standard SI units for this variable. In a netCDF file, the variable should have units that are translatable to the canonical units.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="institution" type="xs:string">
		<xs:annotation>
			<xs:documentation>Institution that maintains the table.</xs:documentation>
		</xs:annotation>
	</xs:element>
    <xs:element name="title" type="xs:string">
        <xs:annotation>
            <xs:documentation>Title of document</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="version_number" type="xs:string">
        <xs:annotation>
            <xs:documentation>Version number of the standard name table this document conforms to.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="last_modified" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>Last modified datetime.</xs:documentation>
        </xs:annotation>
    </xs:element>
	<xs:element name="standard_name_rules">
		<xs:annotation>
			<xs:documentation>Top level element of the table.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
                                <xs:element ref="title"/>
                                <xs:element ref="version_number"/>
                                <xs:element ref="last_modified"/>
				<xs:element ref="institution"/>
				<xs:element ref="contact"/>
				<xs:element ref="rule" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
